<h1>Links</h1>
{{#each links}}
   <div class="card mb-2">
       <div class="card-body">
           <h5 class="card-title">{{wordFind}}</h5>
           <p class="card-text"><a href="http://zakupki.gov.ru/epz/order/extendedsearch/results.html?searchString={{wordFind}}&morphology=on&pageNumber=1&sortDirection=false&recordsPerPage=_10&showLotsInfoHidden=false&fz44=on&fz223=on&ppRf615=on&af=true&ca=true&pc=true&pa=true&currencyIdGeneral=-1&publishDateFrom={{from}}&publishDateTo={{to}}&regionDeleted=false&sortBy=UPDATE_DATE&openMode=USE_DEFAULT_PARAMS">
               прямая ссылка на сайт госзакупок по слову {{wordFind}} </a></p>
           <p class="card-text">From {{from}}</p>
           <p class="card-text">To {{to}}</p>
           <a class="btn btn-dark btn-block mb-2" href="/links/edit/{{id}}">Edit</a>
           <form action="/links/{{id}}?_method=DELETE" method="post">
               <input type="hidden" name="_method" value="DELETE">
               <input type="submit" value="Delete" class="btn btn-danger btn-block">
           </form>
       </div>
   </div>
    <p>{{links}}</p>
    {{else}}
    <p>No links</p>
{{/each}}
