<h1>Links</h1>
{{#each links}}
   <div class="card mb-2">
       <div class="card-body">
           <h5 class="card-title">{{wordFind}}</h5>
           <p class="card-text">{{link}}</p>
           <a class="btn btn-dark btn-block mb-2" href="/links/edit/{{id}}">Edit</a>
           <form action="/links/{{id}}?_method=DELETE" method="post">
               <input type="hidden" name="_method" value="DELETE">
               <input type="submit" value="Delete" class="btn btn-danger btn-block">
           </form>
       </div>
   </div>
    {{else}}
    <p>No links</p>
{{/each}}
